.grid-container {
display: grid;
grid-template-columns: auto auto auto;
grid-gap: 10px;
}

.grid-container > div{
    text-align: center;
}

#header{
	grid-column: 1/span 3;
}

้#main1{
	grid-column: 1/span 1;
	
}
้#main2{
	grid-column: 2/span 1;
	
}
#right{
	grid-column: 2/span 2;
}
#url{
    grid-column: 1/span 3;
}
#footer{
	grid-column: 1/span 3;
}



@media only screen and (max-width: 768px) {
	.grid-container {
		display: grid;
		grid-template-columns: 40% auto ;
		grid-gap: 10px;
		}
		
		#header{
			grid-column: 1/span 2;
		}
		
		#main1{
			grid-column: 1/span 1;
			
		}
		#main2{
			grid-column: 1/span 1;
			
		}
		#right{
			grid-column: 2/span 1;
		}
		#url{
            grid-column: 1/span 2;
        }
		#footer{
			grid-column: 1/span 2;
		}
        
}

@media only screen and (max-width: 480px) {
	.grid-container {
		display: grid;
		grid-template-columns: auto;
		grid-gap: 10px;
	}
	#header{
		grid-column: 1/span 1;
	}
	#main1{
		grid-column: 1/span 1;
		
       
	}
	#main2{
		grid-column: 1/span 1;
		
	}
	#right{
		grid-column: 1/span 1;
	}
	#url{
        grid-column: 1/span 1;
    }
	#footer{
		grid-column: 1/span 1;
	}
}

a:link{
	color: #FF0000; 
	
}  */

a:visited{
	color: #00FF00; 
} 

 a:hover{ 
	color: #FF00FF; 
} 


h1{
    background-color:rgba(105, 0, 0, 0.473);
    color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif; 
    text-align: center;
    padding-left: 5%;
    padding-top:10px;
    padding-bottom: 10px;
    width: 100%;
    
}

img{
    width:50%;
    text-align: center;
}

h3{
    text-decoration: underline;
     padding-left: 5%;
     color: rgb(255, 255, 255);
     background-color:rgba(105, 0, 0, 0.473);
    /*padding-top: 10px;
    padding-bottom: 10px; */
}


#Tutorial{
     width: 50%;
     margin-right: 10px;
     margin-top: 20px;
    margin-left: 15px;
}

ol{
    font-family: Garamond, "Times New Roman", serif; 
    font-size: 15pt;
    padding: left 5px; ;
    text-align: left;
    
    border: 5px double brown;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    width: 80%; /*//////////////////////////////////////////////////////////////////////////////////////////////////*/
}
ul{
    font-size: 12pt;
}

.step{
    font-family: Georgia, 'Times New Roman', Times, serif; 
    text-align: left;
    padding-right: 30px;
    /* margin-left: 20px;
    margin-bottom: 50px; */
	border: 5px double brown;
	padding-left: 20px;
    padding-bottom: 10px;
	width: 80%; /*//////////////////////////////////////////////////////////////////////////////////////*/
}

.div_display{
    border: 2px solid turquoise;
    width: 200px;
    display: inline-block; 
}

#in{
    margin-top: 20px;
    margin-left: 15px;
	width: 80%;
	text-align: center;
}
#last{
    width: 70%;
}

.flex_container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.flex_container > div{
    
    width: 40%;
    margin-left: 10px;
    margin-bottom: 10px;
}



div{
    
}

a{
    font-size: 20px;
    font-weight: bold;
    color: blue;
	text-align: center;
}

th{
    text-decoration: underline;
}

hr{
    height: 30px;
    color: lightblue;
    background-color: rgba(105, 0, 0, 0.473);
    border: none;
}